#1
{
width:50%;
height:100px;
background-color:#006666;
float:left;
}

#2
{
width:50%;
height:100px;
background-color:#006666;
float:right;
}

#3
{
width:50%;
height:100px;
background-color:#006666;
float:left;
}

#4
{
width:50%;
height:100px;
background-color:#006666;
float:right;
}
</style>